<p>
<% if secret_token_id.empty? %>
  <%= Spree.t('shipwire.admin.secret.unavailable.text') %>
  <%= link_to(Spree.t('shipwire.admin.secret.unavailable.link'), create_secret_admin_shipwire_path, method: :post) %>.
<% else %>
  <%= Spree.t('shipwire.admin.secret.available.text') %>
  <%= link_to(Spree.t('shipwire.admin.secret.available.link'), remove_secret_admin_shipwire_path, method: :post) %>.
<% end %>
</p>


