---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.040703'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/subscriptions?offset=0&limit=20","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}}'
  recorded_at: Wed, 27 May 2015 21:17:50 GMT
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"topic":"order.created","url":"https://www.example.com/shipwire/webhooks"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Process-Time-Seconds:
      - '0.147244'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Invalid request","errors":["Invalid URL"],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/subscriptions?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"errors":["Invalid
        URL"],"resourceLocation":null,"resource":{"id":0,"topic":"order.created","url":"https:\/\/www.example.com\/shipwire\/webhooks"}}]}}'
  recorded_at: Wed, 27 May 2015 21:17:50 GMT
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.039675'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/subscriptions?offset=0&limit=20","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}}'
  recorded_at: Wed, 27 May 2015 21:17:51 GMT
recorded_with: VCR 2.9.2
