---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/api/v3/orders
    body:
      encoding: UTF-8
      string: '{"orderNo":"R089858020","externalId":"R089858020","items":[{"sku":"SKU-2","quantity":1,"commercialInvoiceValue":"17.0","commercialInvoiceValueCurrenc":"USD"}],"options":{"currency":"USD","canSplit":1},"shipTo":{"email":"hazle@cummerata.biz","name":"John
        Doe","company":"Company","address1":"10 Lovely Street","address2":"Northwest","city":"Herndon","state":"AL","postalCode":"35005","country":"US","phone":"555-555-0199"},"commercialInvoice":{"shippingValue":"100.0","shippingValueCurrency":"USD","insuranceValueCurrency":"USD","additionalValueCurrency":"USD"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="Shipwire API"
      - OAuth realm="Shipwire API"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"Please include a valid Authorization header
        (Basic)","resourceLocation":null}'
  recorded_at: Fri, 26 Jun 2015 18:50:13 GMT
recorded_with: VCR 2.9.3
