---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders
    body:
      encoding: UTF-8
      string: '{"orderNo":"R636027178","externalId":"R636027178","items":[{"sku":"SKU-1","quantity":1,"commercialInvoiceValue":"17.0","commercialInvoiceValueCurrenc":"USD"}],"options":{"currency":"USD","canSplit":1},"shipTo":{"email":"milford.emard@herman.co.uk","name":"John
        Doe","company":"Company","address1":"10 Lovely Street","address2":"Northwest","city":"Herndon","state":"AL","postalCode":"35005","country":"US","phone":"555-555-0199"},"commercialInvoice":{"shippingValue":"100.0","shippingValueCurrency":"USD","insuranceValueCurrency":"USD","additionalValueCurrency":"USD"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '1.514989'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":200,"message":"Successful","warnings":[{"type":"warning","code":"orderSubmitWarnings","message":"Could not verify shipping address","orderNo":"R636027178.1","externalId":"R636027178","id":91329211}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"warnings":[{"type":"warning","code":"orderSubmitWarnings","message":"Could not verify shipping address","orderNo":"R636027178.1","externalId":"R636027178","id":91329211}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211","resource":{"externalId":"R636027178","orderNo":"R636027178.1","commerceName":"Shipwire","processAfterDate":"2000-01-01T00:00:00-08:00","lastUpdatedDate":"2015-06-26T11:50:04-07:00","status":"held","vendorId":0,"vendorExternalId":null,"id":91329211,"transactionId":"1435344604-789549-1","needsReview":0,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":"","warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":null,"carrierAccountNumber":null,"sameDay":"NOT REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"referrer":""}},"shipFrom":{"resourceLocation":null,"resource":{"company":"WU Test"}},"shipTo":{"resourceLocation":null,"resource":{"email":"milford.emard@herman.co.uk","name":"John Doe","company":"Company","address1":"Company","address2":"10 Lovely Street","address3":"Northwest","city":"Herndon","state":"AL","postalCode":"35005","country":"US","phone":"555-555-0199","isCommercial":0,"isPoBox":0}},"commercialInvoice":{"resourceLocation":null,"resource":{"shippingValue":100,"insuranceValue":null,"additionalValue":null}},"packingList":{"resourceLocation":null,"resource":{"message1":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message2":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message3":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"other":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}}}},"routing":{"resourceLocation":null,"resource":{"warehouseId":null,"warehouseExternalId":null,"warehouseName":null,"originLongitude":null,"originLatitude":null,"destinationLongitude":"-86.9597","destinationLatitude":"33.5884"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-26T11:50:04-07:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedDate":null,"cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}},"pricing":{"resourceLocation":null,"resource":{"shipping":0,"packaging":0,"insurance":0,"handling":0,"total":0}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":0,"insurance":0,"shipping":0,"packaging":0,"handling":0}},"splitOrders":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91329211\/splitOrders?offset=0&limit=20"}}}]}}
  recorded_at: Fri, 26 Jun 2015 18:50:12 GMT
recorded_with: VCR 2.9.3
