---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/secret
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.040303'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/secret?offset=0&limit=20","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/secret\/53","resource":{"id":53,"secret":"d31544e9dadeb107562cb5db5717b8ce2aaed3e2243ffeed89759c90dd20cbb19e9cf1c30c5ee31f1a6cf115c25518fe887bb0edaa3c16ce45cef69b6f1af05b","expiration":null}}]}}'
  recorded_at: Wed, 27 May 2015 21:17:43 GMT
- request:
    method: delete
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/secret/53
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.042123'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":null}'
  recorded_at: Wed, 27 May 2015 21:17:44 GMT
recorded_with: VCR 2.9.2
